* {
  margin : 0px;
  padding: 0px;
}


.video-frame {
  width        : 1000px;
  height       : 500px;
  margin-bottom: 20px;
}

.banner {
  width : 100%;
  height: 100%;
}

.flexRow {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.flexColumn {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.main {
  color           : #e94560;
  background-color: #16213e;
  width           : 100vw;
  height          : 100vh;
  font-family     : 'Raleway';
}

.searchBar {
  width: 100%;
}

.searchBar input {
  text-align: center;
}

.playerSide {
  width: 100vw;
}

.player {
  width : 70%;
  height: 100%;
}

.slider {
  height: 100%;
  width : 30px;
}

.bottom {
  width: 100%;
}

.bottom .item {
  width      : 33%;
  height     : 25%;
  font-weight: 700;
  text-align : center;
}

.bottom .button {
  font-weight: 700;
  text-align : center;
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation        : slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform        : translateZ(600px);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform        : translateZ(0);
    opacity          : 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform        : translateZ(600px);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform        : translateZ(0);
    opacity          : 1;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

  .bottom {
    flex-direction: column;
    height        : 60%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

  .bottom {
    flex-direction: column;
    height        : 60%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .bottom {
    flex-direction: column;
    height        : 60%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .bottom {
    flex-direction: column;
    height        : 60%;
  }

  .video-frame {
    width : 100vw;
    height: 300px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .bottom {
    flex-direction: column;
    height        : 60%;
  }

  .video-frame {
    width : 100vw;
    height: 300px;
  }

  .banner {
    width: 320px;
  }

  .bottom .item {
    width: 90%;
  }

}