.backg{
    width: 95vw;
    height: 95vh;
    background: url( https://media.giphy.com/media/WtgwBP21Gujtu/source.gif) no-repeat center center fixed; 
    background-size: cover; 
    display: flex;
    flex-wrap: wrap;
    align-items: start center;
    justify-content: center;
}
.inside{
    transition: all 5s linear;
    border-radius: 0.5rem;
    width: 500px;
    height: 300px;
}
.asd{
    transform: scaleY(1.5);
}
.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  