<div class="backg">
  <div class="inside">
    <p-fieldset legend="Minimize" [toggleable]="true">
      <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      <div style="text-align: center;">
        <div id="inside">
          <p-card header="{{header}}" [style]="cardStyle">
            <div>
              <div style="margin-bottom:30px;">
                <input type="text" pInputText placeholder="Paste " style="width: 50vh;">
                <button pButton type="button" icon="pi pi-refresh" class="ui-button-warn"
                  (click)="findVideo()"></button>
              </div>
              <div [hidden]="!videoExist">
                <h5 style="text-align: left;">Boost Level : {{gainPower}}</h5>
                <p-slider [(ngModel)]="gainPower" [step]="0.5" [style]="{'width':'14em','margin-bottom':'20px'}" [max]=3
                  (onChange)="handleChange($event)"></p-slider>
              </div>

              <video [hidden]="!videoExist" autoplay controls crossorigin id="video" width="400px" src="{{test}}"
                #video>
              </video>
            </div>
          </p-card>

        </div>
      </div>
    </p-fieldset>

  </div>
</div>
<router-outlet></router-outlet>