* {
  margin : 0px;
  padding: 0px;
}

.card-body {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  margin         : 10px;
  width          : 100%;
}

.backg {
  width : 500px;
  height: 500px;
}

.a {
  transition: all 500ms ease;
}

.a:hover {
  color     : #aaaaaa;
  border    : #aaaaaa solid 1px;
  background: rgb(8, 3, 3);
}

.video-frame {
  width        : 500px !important;
  height       : 250px !important;
  margin-bottom: 20px;
}

.author {
  color: white;
}

.card-stats {
  grid-area                 : stats;
  display                   : grid;
  grid-template-columns     : 1fr 1fr 1fr;
  grid-template-rows        : 1fr;
  border-bottom-left-radius : 15px;
  border-bottom-right-radius: 15px;
  background                : rgb(255, 7, 110);
}

.heading-1 {
  font-size: medium;
}

.card-stats .stat {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  color          : white;
  padding        : 10px;
}

.inside {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  transition     : all 5s linear;
  border-radius  : 0.5rem;
  width          : 500px;
  height         : 400px;
}

.bottom {
  width     : 500px !important;
  margin-top: 10px;
}

.asd {
  transform: scaleY(1.5);
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation        : slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform        : translateY(-1000px);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
    opacity          : 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform        : translateY(-1000px);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
    opacity          : 1;
  }
}

@media (max-width: 500px) {
  .card-body {
    width          : 450px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin: 10px;
  }
}